Repository decred/dcrdex, pull requests merged in 2020-06, with the labels that each got.

#459 core: properly handle client->server request errors during trade
  client/asset/btc/btc.go
  client/asset/dcr/dcr.go
  client/asset/interface.go
  client/core/core_test.go
  client/core/trade.go
Labels: client

#484 dex: general purpose go 1.13 error type
  client/asset/interface.go
  dex/asset.go
  dex/errors.go
  dex/errors_test.go
  server/asset/btc/btc.go
  server/asset/btc/utxo.go
  server/asset/common.go
  server/asset/dcr/dcr.go
  server/asset/dcr/utxo.go
Labels: client, server

#497 multi: btc clone refactor
  client/asset/btc/btc.go
  client/asset/btc/btc_test.go
  client/asset/btc/livetest/livetest.go
  client/asset/btc/livetest/regnet_test.go
  client/asset/dcr/dcr.go
  client/asset/dcr/dcr_test.go
  client/asset/dcr/simnet_test.go
  client/asset/ltc/ltc.go
  client/asset/ltc/regnet_test.go
  client/core/core_test.go
  client/webserver/live_test.go
  dex/networks/btc/clone.go
  dex/networks/btc/config.go
  dex/networks/btc/script.go
  dex/networks/btc/script_test.go
  dex/networks/dcr/script.go
  dex/networks/dcr/script_test.go
  dex/networks/ltc/params.go
  dex/testing/btc/base-harness.sh
  dex/testing/btc/harness.sh
  dex/testing/dcr/harness.sh
  dex/testing/ltc/harness.sh
  run_tests.sh
  server/asset/btc/btc.go
  server/asset/btc/btc_test.go
  server/asset/btc/script.go
  server/asset/btc/testing.go
  server/asset/btc/utxo.go
  server/asset/dcr/dcr.go
  server/asset/dcr/dcr_test.go
  server/asset/dcr/live_test.go
  server/asset/dcr/script.go
  server/asset/dcr/utxo.go
  server/asset/ltc/ltc.go
  server/asset/ltc/ltc_test.go
Labels: client, server, testing

#499 multi: eliminate funding confirmation requirement
  client/asset/btc/btc.go
  client/asset/btc/btc_test.go
  client/asset/btc/livetest/livetest.go
  client/asset/btc/livetest/regnet_test.go
  client/asset/btc/walletclient.go
  client/asset/btc/wallettypes.go
  client/asset/dcr/dcr.go
  client/asset/dcr/dcr_test.go
  client/asset/dcr/simnet_test.go
  client/asset/interface.go
  client/asset/ltc/ltc.go
  client/asset/ltc/regnet_test.go
  client/core/core.go
  client/core/core_test.go
  client/core/notification.go
  client/core/trade_simnet_test.go
  client/core/types.go
  client/core/wallet.go
  client/db/bolt/db.go
  client/db/bolt/db_test.go
  client/db/interface.go
  client/db/test/dbtest.go
  client/db/types.go
  client/rpcserver/handlers.go
  client/rpcserver/handlers_test.go
  client/rpcserver/rpcserver.go
  client/rpcserver/rpcserver_test.go
  client/webserver/api.go
  client/webserver/live_test.go
  client/webserver/site/src/html/wallets.tmpl
  client/webserver/site/src/js/app.js
  client/webserver/site/src/js/markets.js
  client/webserver/site/src/js/wallets.js
  client/webserver/webserver.go
  client/webserver/webserver_test.go
  dex/asset.go
  dex/msgjson/types.go
  dex/testing/dcrdex/harness.sh
  server/cmd/dcrdex/sample-markets.json
  server/dex/dex.go
  server/market/market.go
  server/market/orderrouter.go
  server/market/routers_test.go
  server/swap/swap.go
  server/swap/swap_test.go
Labels: client, server

#498 spec: remove funding confirmations requirement
  spec/admin.mediawiki
  spec/fundamentals.mediawiki
  spec/orders.mediawiki
Labels: spec

#491 client/core: Use coinIDString everywhere.
  client/core/core.go
Labels: client

#489 cmd/dcrdex: Stop loading swap state on shutdown signal.
  server/cmd/dcrdex/main.go
Labels: server

#485 ws: Newconnection only replies with error if not handshake error
  client/rpcserver/websocket.go
  client/webserver/websocket.go
  dex/ws/wslink.go
  server/comms/server.go
Labels: client, server

#481 app: Order preview show quote amount
  client/webserver/site/src/css/market.scss
  client/webserver/site/src/html/markets.tmpl
  client/webserver/site/src/js/markets.js
Labels: frontend

#493 comms: extend test wait times.
  client/comms/wsconn_test.go
  server/comms/comms_test.go
Labels: client, server

#495 server/{db,market}: book purge does not affect cancellation ratio
  dex/order/order.go
  server/db/driver/pg/internal/orders.go
  server/db/driver/pg/orders.go
  server/db/driver/pg/orders_online_test.go
  server/db/driver/pg/system_online_test.go
  server/db/interface.go
  server/market/market.go
  server/market/market_test.go
Labels: server
