Repository decred/dcrdex, pull requests merged in 2020-07, with the labels that each got.

#469 admin: Add ban endpoint.
  server/account/account.go
  server/admin/api.go
  server/admin/server.go
  server/admin/server_test.go
  server/admin/types.go
  server/auth/auth.go
  server/auth/auth_test.go
  server/db/driver/pg/accounts.go
  server/db/interface.go
  server/dex/dex.go
  server/market/market_test.go
  server/market/orderrouter.go
  server/market/routers_test.go
  server/swap/swap.go
  server/swap/swap_test.go
  spec/admin.mediawiki
Labels: server

#524 client/comms: add a missing initial read deadline
  client/comms/wsconn.go
  client/comms/wsconn_test.go
Labels: client

#448 multi: add client db upgrade infrastructure.
  client/core/log.go
  client/db/bolt/db.go
  client/db/bolt/upgrades.go
  client/db/bolt/upgrades_test.go
  dex/encode/encode.go
Labels: client

#503 client/core: resubscribe to order books
  client/core/core.go
Labels: client

#479 admin: Add unban endpoint.
  server/admin/api.go
  server/admin/server.go
  server/admin/server_test.go
  server/admin/types.go
  server/auth/auth.go
  server/auth/auth_test.go
  server/db/driver/pg/accounts.go
  server/db/driver/pg/accounts_online_test.go
  server/db/interface.go
  server/dex/dex.go
  server/market/market_test.go
  server/market/routers_test.go
  server/swap/swap.go
  server/swap/swap_test.go
Labels: server

#535 spec: add nomatch notification
  spec/README.mediawiki
  spec/orders.mediawiki
Labels: spec

#496 client/rpcserver: Add orderbook route.
  client/core/bookie.go
  client/core/types.go
  client/rpcserver/handlers.go
  client/rpcserver/handlers_test.go
  client/rpcserver/rpcserver_test.go
  client/rpcserver/types.go
  client/rpcserver/types_test.go
  client/webserver/live_test.go
  dex/msgjson/types.go
Labels: client
