Repository decred/dcrdex, pull requests merged in 2020-09, with the labels that each got.

#513 app: auto-find redemption when Maker goes dark after Taker swap
  client/asset/btc/btc.go
  client/asset/btc/btc_test.go
  client/asset/btc/livetest/livetest.go
  client/asset/btc/wallettypes.go
  client/asset/dcr/dcr.go
  client/asset/dcr/dcr_test.go
  client/asset/dcr/simnet_test.go
  client/asset/interface.go
  client/core/core.go
  client/core/core_test.go
  client/core/trade.go
  client/core/trade_simnet_test.go
Labels: client, high priority

#662 spec: simplify match_status payload
  spec/orders.mediawiki
Labels: spec

#648 client/core,asset: ensure coins are unlocked when no longer needed
  client/asset/btc/btc.go
  client/asset/dcr/dcr.go
  client/asset/interface.go
  client/core/core.go
  client/core/core_test.go
  client/core/trade.go
  dex/order/status.go
Labels: high priority

#671 spec: define cancel ratio new user period
  spec/admin.mediawiki
  spec/community.mediawiki
  spec/fundamentals.mediawiki
Labels: spec

#687 server/{auth,db}: add order_status route
  dex/msgjson/types.go
  server/auth/auth.go
  server/auth/auth_test.go
  server/db/driver/pg/internal/orders.go
  server/db/driver/pg/orders.go
  server/db/driver/pg/orders_online_test.go
  server/db/interface.go
  server/market/market_test.go
Labels: high priority
