Repository decred/dcrdex, pull requests merged in 2021-08, with the labels that each got.

#1015 core: app seed and HD keys
  client/core/account.go
  client/core/account_test.go
  client/core/bookie.go
  client/core/core.go
  client/core/core_test.go
  client/core/notification.go
  client/core/trade_simnet_test.go
  client/core/types.go
  client/core/wallet.go
  client/db/bolt/db.go
  client/db/bolt/db_test.go
  client/db/bolt/testdata/v4.db.gz
  client/db/bolt/upgrades.go
  client/db/bolt/upgrades_test.go
  client/db/interface.go
  client/db/test/dbtest.go
  client/db/test/types_test.go
  client/db/types.go
  client/rpcserver/handlers.go
  client/rpcserver/rpcserver.go
  client/rpcserver/rpcserver_test.go
  client/rpcserver/types.go
  client/webserver/api.go
  client/webserver/live_test.go
  client/webserver/site/src/css/main.scss
  client/webserver/site/src/css/settings.scss
  client/webserver/site/src/html/bodybuilder.tmpl
  client/webserver/site/src/html/forms.tmpl
  client/webserver/site/src/html/register.tmpl
  client/webserver/site/src/html/settings.tmpl
  client/webserver/site/src/js/forms.js
  client/webserver/site/src/js/markets.js
  client/webserver/site/src/js/register.js
  client/webserver/site/src/js/settings.js
  client/webserver/site/src/js/wallets.js
  client/webserver/types.go
  client/webserver/webserver.go
  client/webserver/webserver_test.go
  dex/msgjson/types.go
  server/auth/registrar.go
  server/db/driver/pg/accounts.go
  server/db/errors.go
  server/dex/dex.go
Labels: SPV

#1019 multi: Add ETHSwapV0.
  client/asset/eth/eth.go
  client/asset/eth/eth_test.go
  client/asset/eth/node.go
  client/asset/eth/rpcclient.go
  client/asset/eth/rpcclient_harness_test.go
  client/cmd/dexcctl/simnet-setup.sh
  dex/networks/eth/contract.go
  dex/networks/eth/contracts/ETHSwapV0.sol
  dex/networks/eth/contracts/README.md
  dex/testing/eth/harness.sh
  go.mod
  go.sum
  internal/eth/reentryattack/README.md
  internal/eth/reentryattack/ReentryAttack.sol
  internal/eth/reentryattack/VulnerableToReentryAttack.sol
  internal/eth/reentryattack/contract.go
  server/asset/eth/common.go
Labels: ETH

#1133 server: Allow cancel orders while market is suspended.
  dex/order/order.go
  server/db/driver/pg/orders.go
  server/db/interface.go
  server/market/market.go
  server/market/market_test.go
  server/market/orderrouter.go
  server/market/routers_test.go
  server/swap/swap.go
Labels: server

#1119 multi: add ability to persist password on UI login
  client/webserver/api.go
  client/webserver/middleware.go
  client/webserver/site/src/html/bodybuilder.tmpl
  client/webserver/site/src/html/forms.tmpl
  client/webserver/site/src/html/login.tmpl
  client/webserver/site/src/html/markets.tmpl
  client/webserver/site/src/html/order.tmpl
  client/webserver/site/src/html/register.tmpl
  client/webserver/site/src/html/settings.tmpl
  client/webserver/site/src/html/wallets.tmpl
  client/webserver/site/src/js/forms.js
  client/webserver/site/src/js/login.js
  client/webserver/site/src/js/markets.js
  client/webserver/site/src/js/register.js
  client/webserver/site/src/js/settings.js
  client/webserver/site/src/js/state.js
  client/webserver/site/src/js/wallets.js
  client/webserver/types.go
  client/webserver/webserver.go
  client/webserver/webserver_test.go
  go.sum
Labels: client, UI

#1156 eth: Add CoinID flags.
  client/asset/eth/eth.go
  client/asset/eth/eth_test.go
  client/asset/eth/rpcclient.go
  client/asset/eth/rpcclient_harness_test.go
  server/asset/eth/common.go
  server/asset/eth/eth_test.go
Labels: ETH

#1142 ui: restore vscroll to buy/sell orders tables
  client/webserver/site/.stylelintrc
  client/webserver/site/src/css/main.scss
  client/webserver/site/src/css/market.scss
  client/webserver/site/src/html/markets.tmpl
Labels: UI

#1157 server/eth: Implement InitTxSize.
  dex/calc/fees.go
  server/asset/eth/common.go
  server/asset/eth/eth.go
  server/asset/eth/eth_test.go
Labels: ETH
