Repository decred/dcrdex, pull requests merged in 2023-02, with the labels that each got.

#2065 client: add static strings to translation
  client/webserver/site/src/js/dexsettings.ts
  client/webserver/site/src/js/doc.ts
  client/webserver/site/src/js/forms.ts
  client/webserver/site/src/js/locales.ts
  client/webserver/site/src/js/order.ts
  client/webserver/site/src/js/settings.ts
  client/webserver/site/src/js/wallets.ts
Labels: i18n

#2019 core: reestablish old dex connection if new one is unsuccessful
  client/core/account.go
  client/core/account_test.go
  client/core/bond.go
  client/core/core.go
  client/core/core_test.go
Labels: bug

#2144 client/db/bolt: ignore notes with bad IDs
  client/db/bolt/db.go
Labels: bug

#2143 client/asset/eth: batched gas limit fallback
  client/asset/eth/eth.go
Labels: ETH

#2139 client/asset/eth: use currentFeeRate for preSwap, not max
  client/asset/eth/eth.go
  client/asset/eth/eth_test.go
Labels: ETH

#2102 client/eth: Remove non compliant providers.
  client/asset/eth/eth.go
  client/asset/eth/multirpc.go
  client/asset/eth/multirpc_live_test.go
  client/cmd/dexcctl/simnet-setup.sh
  dex/testing/eth/create-node.sh
  dex/testing/eth/harness.sh
Labels: ETH
